{
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-console": "off",
    "no-restricted-syntax": "off",
    "guard-for-in": "off",
    "no-plusplus": "off"
  }
}
